@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:600,500);

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo-500.eot');
    src: url('../fonts/Museo-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo-500.woff') format('woff'),
         url('../fonts/Museo-500.ttf') format('truetype'),
         url('../fonts/Museo-500.svg#Museo') format('svg');
    font-weight: normal;
    font-style: normal;
}
